[Unit]
Description=The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

[Service]
ConfigurationDirectory=kubernetes
CPUAccounting=true
IPAccounting=true
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf --fail-swap-on=false"
Environment="KUBELET_CONFIG_ARGS=--config=/var/lib/kubelet/config.yaml"
ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_CONFIG_ARGS $KUBELET_KUBEADM_ARGS
KillMode=process
MemoryAccounting=true
StartLimitInterval=0
Restart=on-failure
RestartSec=10
RuntimeDirectory=kubelet
StateDirectory=kubelet

[Install]
WantedBy=multi-user.target
